<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="listeners.MobileListenersClass"></listener>
        <listener class-name="listeners.MobileMEthodInterceptor"></listener>
        <listener class-name="listeners.MobileAnnotationTransfer"></listener>


    </listeners>
    <test thread-count="5" name="Test" parallel="true">
        <classes>
            <class name="test.SignInSignOutTest"/>
            <class name="test.AddProductToCartTest"/>
            <class name="test.SearchProductTest"/>
            <class name="test.LanguagePreferenceTest"/>
            <class name="test.ChangePasswordTest"/>
            <class name="test.ForgotPasswordTest"/>
            <class name="test.SavedAddressTest"/>
            <class name="test.RegisterTest"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->